# Data Cleaning

[Data](https://www.census.gov/data/tables/2020/demo/income-poverty/p60-270.html)

In [1]:
import pandas as pd

In [2]:
# Original excel file
pd.read_excel("tableA2.xlsx")

,Table with row headers in column A and column headers in rows 4 through 5,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13,Unnamed: 14,Unnamed: 15
0,"Table A-2.\nHouseholds by Total Money Income, ...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,"(Income in 2019 dollars, adjusted using the CP...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Race and Hispanic origin of householder\nand year,Number (thousands),Percent distribution,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Median income\n(dollars),NaN,Mean income\n(dollars),NaN
3,NaN,NaN,Total,"Under $15,000","$15,000\nto\n$24,999","$25,000\nto\n$34,999","$35,000\nto\n$49,999","$50,000\nto\n$74,999","$75,000\nto\n$99,999","$100,000\nto\n$149,999","$150,000\nto\n$199,999","$200,000 and over",Estimate,Margin of error1 (±),Estimate,Margin of error1 (±)
4,ALL RACES,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
382,26 Black alone refers to people who reported B...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
383,27 Asian alone refers to people who reported A...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
384,"28 Because Hispanics may be any race, data in ...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
385,Note: Inflation-adjusted estimates may differ ...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
386,"Source: U.S. Census Bureau, Current Population...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

## Findings
All data for all the races were in one sheet. It is important to note that this survey did not allow respondents to put more than 1 race until 2001. For an example, they if they were White and Asian, they only had the option of putting White or Asian, exclusively. 

There were different categories for the different races. For an example, if the respondent put only "White" as their race, they would be under the category "White Only." In union, if a respondent put "Asian" and "Black", they would be under the category "Asian Alone or In Combination." 

*Full explanation of this can be found in the original excel file in the footnotes.*

Here's a full list of the different categories:
1. `ALL RACES`
2. `WHITE ALONE`
3. `WHITE`
4. `WHITE ALONE, BUT NOT HISPANIC`
5. `WHITE, BUT NOT HISPANIC`
6. `BLACK ALONE OR IN COMBINATION`
7. `BLACK ALONE`
8. `BLACK` 
9. `ASIAN ALONE OR IN COMBINATION`
10. `ASIAN ALONE`
11. `ASIAN AND PACIFIC ISLANDER`
12. `HISPANIC (ANY RACE)`

For the purpose of this analysis, we are only going to select the respondents who put each respective race only since we know there won't be any overlaps in race (hispanics being an exception).  So, we'll take a look at `WHITE ALONE`, `BLACK ALONE`, `ASIAN ALONE`, and, `HISPANIC (ANY RACE)`. We'll also take a look at `ALL_RACES` as this will be useful for our analysis. Since all the data for these categories was in 1 sheet, I moved those categories in separate sheets to make it easier to clean.

## Read in the file and sheets

In [3]:
file = "tableA2_1.xlsx" # Race categories in each sheet

# Each sheet will be its own dataframe

all_races = pd.read_excel(file, sheet_name="All_Races") 
white = pd.read_excel(file, sheet_name="White")
black = pd.read_excel(file, sheet_name="Blacks")
asian = pd.read_excel(file, sheet_name="Asians")
hispanic = pd.read_excel(file, sheet_name="Hispanics")

## Cleaning `All_Races` sheet

In [4]:
# Preview
all_races.head(6)

,Table with row headers in column A and column headers in rows 4 through 5,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13,Unnamed: 14,Unnamed: 15
0,"Table A-2.\nHouseholds by Total Money Income, ...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,"(Income in 2019 dollars, adjusted using the CP...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Race and Hispanic origin of householder\nand year,Number (thousands),Percent distribution,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Median income\n(dollars),NaN,Mean income\n(dollars),NaN
3,NaN,NaN,Total,"Under $15,000","$15,000\nto\n$24,999","$25,000\nto\n$34,999","$35,000\nto\n$49,999","$50,000\nto\n$74,999","$75,000\nto\n$99,999","$100,000\nto\n$149,999","$150,000\nto\n$199,999","$200,000 and over",Estimate,Margin of error1 (±),Estimate,Margin of error1 (±)
4,ALL RACES,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,2019,128451,100,9.1,8,8.3,11.7,16.5,12.3,15.5,8.3,10.3,68703,904,98088,1042

By looking at a preview of the data and what I know from the excel file, I can see the column names are stored in row 2 and 3. The values in rows 1 and 2, column 1 are the title and a brief description of the data inserted in the excel file. So, we can go ahead and **drop these 2 rows.**

In [5]:
all_races.drop([0, 1], inplace=True)

We can also drop `Unnamed: 2` because it shows the total percentage of each row for the income percent distribution, in which they all add up to 100.

In [6]:
all_races.drop("Unnamed: 2", axis=1, inplace=True)

### Mapping the correct column names

Now, let's correct the **column names** to hold it's true meaning. We'll create a dictionary with the current column names and map them to the correct names. 

Here is a general overview and explanation of the correct mappings:
- `Table with row headers in column A and column headers in rows 4 through 5` : The year the survey was conducted
- `Unnamed: 1` : Number of total respondents  
- `Unnamed: 3-11` : The specified ranges of income displayed in % distribution      
- `Unnamed: 12` : Estimate median for the year
- `Unnamed: 13` : A measure of the median estimate's variability. The bigger the number, the less reliable and accurate the number is.
- `Unnamed: 14` : Estimate mean for the year
- `Unnamed: 15` : A measure of the mean estimate's variability

**`Unnamed 13` and `Unnamed 15` - Futher explanation on this calculation can be found in the original excel file and at this [pdf](https://www2.census.gov/library/publications/2020/demo/p60-270sa.pdf)**.

In [7]:
all_races.columns

Index(['Table with row headers in column A and column headers in rows 4 through 5',
       'Unnamed: 1', 'Unnamed: 3', 'Unnamed: 4', 'Unnamed: 5', 'Unnamed: 6',
       'Unnamed: 7', 'Unnamed: 8', 'Unnamed: 9', 'Unnamed: 10', 'Unnamed: 11',
       'Unnamed: 12', 'Unnamed: 13', 'Unnamed: 14', 'Unnamed: 15'],
      dtype='object')

In [8]:
column_dict = {'Table with row headers in column A and column headers in rows 4 through 5': "year",
               'Unnamed: 1': "num (thousands)",
               'Unnamed: 3': "< $15,000", 
               'Unnamed: 4': "$15,000 - 24,999", 
               'Unnamed: 5': "$25,000 - 34,999",
               'Unnamed: 6': "$35,000 - 49,999", 
               'Unnamed: 7': "$50,000 - 74,999", 
               'Unnamed: 8': "$75,000 - 99,999", 
               'Unnamed: 9': "$100,000 - 149,999",
               'Unnamed: 10': "$150,000 - 199,999",
               'Unnamed: 11': "> $200,000", 
               'Unnamed: 12': "median_estimate", 
               'Unnamed: 13': "median_error", 
               'Unnamed: 14': "mean_estimate",
               'Unnamed: 15': "mean_error"} # Mapping the column names I want
all_races.rename(columns=column_dict, inplace=True)

In [9]:
# Confirm changes
all_races.columns

Index(['year', 'num (thousands)', '< $15,000', '$15,000 - 24,999',
       '$25,000 - 34,999', '$35,000 - 49,999', '$50,000 - 74,999',
       '$75,000 - 99,999', '$100,000 - 149,999', '$150,000 - 199,999',
       '> $200,000', 'median_estimate', 'median_error', 'mean_estimate',
       'mean_error'],
      dtype='object')

Now, we can **drop the first 3 rows** since this contains our column information and it is not needed.

In [10]:
all_races.drop([2,3,4], inplace=True) # 2,3,4 refers to the index label not position

### Cleaning the `year` column
Next, we want all values in the `year` column to be just years, but we see that there are more values than just numbers. This is because the excel file included some footnotes annotating and explaining certain things. All necessary and useful information have been explained in the `README.md` so we can drop these rows.

In [11]:
all_races.tail(32) # We know the data starts in 1967 so we can drop the rows from index label 60 and onward

,year,num (thousands),"< $15,000","$15,000 - 24,999","$25,000 - 34,999","$35,000 - 49,999","$50,000 - 74,999","$75,000 - 99,999","$100,000 - 149,999","$150,000 - 199,999","> $200,000",median_estimate,median_error,mean_estimate,mean_error
58,1968,62214,13.4,10.1,10.4,16.5,24.8,13.7,8.2,1.8,1.1,50004,297,56572,297
59,1967 23,60813,14.8,10.2,10.9,16.8,24.8,11.9,7.7,1.7,1.2,47938,287,53616,287
60,1 A margin of error (MOE) is a measure of an e...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
61,2 Estimates reflect the implementation of an u...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
62,3 The 2014 CPS ASEC included redesigned questi...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
63,4 The source of these 2013 estimates is the po...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
64,5 Implementation of 2010 Census-based populati...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
65,"6 Median income is calculated using $2,500 int...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
66,7 Data have been revised to reflect a correcti...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
67,"8 Implementation of a 28,000 household sample ...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
68,9 Implementation of 2000 Census-based populati...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
69,10 Full implementation of 1990 Census-based sa...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
70,11 Introduction of 1990 Census sample design.,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
71,12 Data collection method changed from paper a...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
72,13 Implementation of 1990 Census population co...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
73,14 Implementation of a new CPS ASEC processing...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
74,15 Recording of amounts for earnings from long...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
75,16 Implementation of Hispanic population weigh...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
76,17 Implementation of 1980 Census population co...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
77,18 First year medians were derived using both ...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
78,19 Some of these estimates were derived using ...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
79,20 Implementation of a new CPS ASEC processing...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
80,21 Full implementation of 1970 Census-based sa...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
81,22 Introduction of 1970 Census sample design a...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
82,23 Implementation of a new CPS ASEC processing...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
83,"24 Beginning with the 2003 CPS ASEC, responden...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
84,"25 For the year 2001 and earlier, the CPS ASEC...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
85,26 Black alone refers to people who reported B...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
86,27 Asian alone refers to people who reported A...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
87,"28 Because Hispanics may be any race, data in ...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
88,Note: Inflation-adjusted estimates may differ ...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
89,"Source: U.S. Census Bureau, Current Population...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [12]:
all_races.drop(all_races.index[55:], inplace=True)
all_races.reset_index(drop=True, inplace=True)

In [13]:
# Confirm changes
all_races

,year,num (thousands),"< $15,000","$15,000 - 24,999","$25,000 - 34,999","$35,000 - 49,999","$50,000 - 74,999","$75,000 - 99,999","$100,000 - 149,999","$150,000 - 199,999","> $200,000",median_estimate,median_error,mean_estimate,mean_error
0,2019,128451,9.1,8,8.3,11.7,16.5,12.3,15.5,8.3,10.3,68703,904,98088,1042
1,2018,128579,10.1,8.8,8.7,12,17,12.5,15,7.2,8.8,64324,704,91652,914
2,2017 2,127669,10,9.1,9.2,12,16.4,12.4,14.7,7.3,8.9,63761,552,91406,979
3,2017,127586,10.1,9.1,9.2,11.9,16.3,12.6,14.8,7.5,8.5,64007,575,89922,892
4,2016,126224,10.4,9,9.2,12.3,16.7,12.2,15,7.2,8,62898,764,88578,822
5,2015,125819,10.6,10,9.6,12.1,16.1,12.4,14.9,7.1,7.2,60987,570,85533,715
6,2014,124587,11.4,10.5,9.6,12.6,16.4,12.1,14,6.6,6.8,58001,697,81870,793
7,2013 3,123931,11.4,10.3,9.5,12.5,16.8,12,13.9,6.7,6.9,58904,1183,82660,1201
8,2013 4,122952,11.3,10.4,9.7,13.1,17,12.5,13.6,6.3,6,57095,499,79852,902
9,2012,122459,11.4,10.6,10.1,12.5,17.4,12,13.9,6.3,5.9,56912,384,79510,773
10,2011,121084,11.6,10.2,10.2,13.1,17.2,11.9,13.8,6.2,5.8,57021,470,79375,690
11,2010 5,119927,11.2,10.7,9.4,13.3,16.8,12.4,14.1,6.3,5.9,57904,628,79192,696
12,2009 6,117538,10.4,10,9.7,13.2,17.4,12.4,14.5,6.3,6,59458,419,81196,477
13,2008,117181,10.4,10,9.4,13.4,17,12.5,15,6.3,6,59877,268,81447,474
14,2007,116783,10,10,9,12.8,17.3,12.6,15.3,6.7,6.4,62090,285,83568,480
15,2006,116011,9.6,9.5,9.4,13,17.5,12.7,15,6.7,6.5,61268,433,84617,537
16,2005,114384,10.1,9.8,9.5,12.7,17.6,12.9,14.7,6.5,6.2,60794,335,83127,516
17,2004 7,113343,10.3,9.7,9.8,12.8,17.4,12.6,15,6.3,6.1,60150,437,82038,509
18,2003,112000,10.2,9.7,9.7,12.4,17.4,12.7,15.3,6.3,6.2,60360,431,82305,495
19,2002,111278,9.9,9.8,9.2,13.3,17.4,12.7,15.6,6.3,5.9,60435,326,82442,509
20,2001,109297,9.7,9.6,9.1,12.9,17.7,12.8,15.6,6.3,6.2,61126,307,84257,552
21,2000 8,108209,9.3,9.3,8.9,13.1,17.7,13.2,15.4,6.8,6.2,62512,323,85059,551
22,1999 9,106434,9,9.7,9.1,13,17.5,13.3,15.6,6.6,6.3,62641,481,84254,719
23,1998,103874,9.8,9.8,9.2,12.9,17.5,13.7,15.3,6.2,5.5,61128,595,81517,724
24,1997,102528,10.3,10.3,9.4,13.2,18,13.3,14.7,5.8,5.1,58961,448,79175,729
25,1996,101018,10.6,10.5,9.6,13.5,17.9,13.5,14.3,5.4,4.6,57772,479,76705,707
26,1995 10,99627,10.5,10.4,10.2,13.1,18.8,13.3,14.2,5.1,4.3,56945,542,75096,676
27,1994 11,98990,11.3,10.8,10.1,13.5,18.4,12.7,13.9,5.1,4.2,55215,414,73816,653
28,1993 12,97107,11.8,10.6,10.1,13.7,18.4,13.1,13.5,4.9,3.9,54581,420,72379,644
29,1992 13,96426,11.8,10.6,10.1,13.5,18.8,13.5,13.5,4.8,3.4,54874,427,69568,480
30,1991,95669,11.6,10.3,9.8,14,19.1,13.5,13.7,4.8,3.3,55302,438,69613,471
31,1990,94312,11.1,10.1,9.5,13.9,19.5,13.7,13.8,4.8,3.7,56966,479,71158,494
32,1989,93347,10.8,10,9.6,13.4,19.2,13.9,14.3,5,3.9,57705,522,72904,522
33,1988,92830,11.4,9.7,9.9,13.1,19.4,14,14.3,4.8,3.5,56725,456,70877,521
34,1987 14,91124,11.6,10,9.9,13.6,18.9,14.2,13.9,4.6,3.3,56261,437,69968,472
35,1986,89479,12,10,9.9,13.6,19.4,13.9,13.6,4.4,3.1,55597,474,68688,459
36,1985 15,88458,12.1,10.6,10.1,14.3,19.8,13.6,13.1,3.9,2.6,53664,478,66043,430
37,1984 16,86789,12.2,10.8,10.1,14.7,19.7,13.7,12.6,3.7,2.4,52679,394,64546,390
38,1983,85407,12.7,10.9,10.6,14.8,20.1,13.3,11.9,3.4,2.2,51126,383,62181,383
39,1982,83918,12.7,10.8,10.9,14.5,20.8,13.4,11.6,3.3,2.1,51487,382,62050,378
40,1981,83527,12.5,10.9,11,14.3,20.6,14,11.8,3.1,1.8,51627,445,61677,370
41,1980,82368,12.2,10.7,10.3,14.6,21.2,14,12,3.2,1.8,52461,443,62394,375
42,1979 17,80776,11.8,10.2,10.2,14.4,20.5,15.1,12.2,3.4,2.1,54222,423,64410,401
43,1978,77330,11.6,10.5,10.1,14.2,21,14.9,12.4,3.2,2,54326,362,63940,403
44,1977,76030,11.9,11.2,10.5,14.2,21.3,14.7,11.6,2.9,1.8,52302,323,62044,311
45,1976 18,74142,12,11.3,10.3,14.8,21.8,14.5,11.2,2.5,1.7,51973,317,61133,310
46,1975 19,72867,12.4,11.4,10.7,14.7,22.1,14.3,10.5,2.4,1.5,51124,342,59698,306
47,"1974 19, 20",71163,11.8,10.7,10,15.3,22,14.9,10.9,2.7,1.6,52499,332,61393,316
48,1973,69859,11.6,10.8,9.5,14.3,22.2,14.9,11.8,3,1.9,54216,339,62700,314
49,1972 21,68251,12.4,10.3,10,14.7,22.4,14.7,10.9,2.7,1.8,53143,334,61851,316
50,1971 22,66676,13.3,10.2,10.6,15.2,23.5,13.9,9.7,2.2,1.4,50960,325,58609,306
51,1970,64778,13.3,10.1,9.7,15.7,24.1,13.7,9.9,2.2,1.4,51461,310,58926,310
52,1969,63401,13.2,9.9,9.4,16,24.3,14.2,9.4,2.2,1.3,51863,315,59004,305
53,1968,62214,13.4,10.1,10.4,16.5,24.8,13.7,8.2,1.8,1.1,50004,297,56572,297
54,1967 23,60813,14.8,10.2,10.9,16.8,24.8,11.9,7.7,1.7,1.2,47938,287,53616,287

Having removed the explanations of the footnotes, there are some still extra digits in the `year` column. Ex. `1971 22`

This is because the `22` refers to the footnote at the bottom of the excel sheet. It seems like we can grab the year only by getting the **first 4 characters of each value**.

In [14]:
all_races["year"] = all_races["year"].astype(str).str.slice(stop=4)

In [15]:
# Confirm changes
all_races["year"].value_counts()

2017    2
2013    2
1980    1
2006    1
1984    1
1976    1
2019    1
1999    1
1987    1
2012    1
1969    1
2010    1
2001    1
2016    1
1975    1
1970    1
1994    1
1993    1
1992    1
1981    1
2007    1
1990    1
1995    1
1996    1
1989    1
1997    1
2015    1
1979    1
1985    1
1978    1
2005    1
2002    1
1983    1
1968    1
1977    1
2014    1
1986    1
1988    1
2011    1
1971    1
2000    1
2018    1
1967    1
1982    1
2008    1
1998    1
2009    1
1991    1
2004    1
1972    1
1974    1
2003    1
1973    1
Name: year, dtype: int64

From the value counts above, we can see that `2013` and `2017` have 2 rows when there should only be 1 for each year. After further investigation, turns out there was an update in the data processing system and the questions in the survey. Full explanation can be found in the original excel file.

For this analysis, we'll grab the **1st `2013` row** and **the 2nd `2017` row** because these numbers reflect more of the current processing system (stated by the file).

In [16]:
all_races.drop([2,8], inplace=True)
all_races["year"].value_counts()

1980    1
1975    1
1984    1
1976    1
2019    1
1999    1
1987    1
2012    1
1969    1
2013    1
2010    1
2001    1
2006    1
2016    1
1970    1
1994    1
1993    1
1992    1
1981    1
2007    1
1990    1
1995    1
1996    1
1989    1
1997    1
2015    1
1979    1
1985    1
2018    1
2005    1
2002    1
1983    1
1968    1
1977    1
2014    1
1986    1
1988    1
2011    1
1971    1
1978    1
2000    1
1967    1
1982    1
2008    1
1998    1
2009    1
1991    1
2017    1
2004    1
1972    1
1974    1
2003    1
1973    1
Name: year, dtype: int64

### Correcting the data types for each column

In [17]:
all_races.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 53 entries, 0 to 54
Data columns (total 15 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   year                53 non-null     object
 1   num (thousands)     53 non-null     object
 2   < $15,000           53 non-null     object
 3   $15,000 - 24,999    53 non-null     object
 4   $25,000 - 34,999    53 non-null     object
 5   $35,000 - 49,999    53 non-null     object
 6   $50,000 - 74,999    53 non-null     object
 7   $75,000 - 99,999    53 non-null     object
 8   $100,000 - 149,999  53 non-null     object
 9   $150,000 - 199,999  53 non-null     object
 10  > $200,000          53 non-null     object
 11  median_estimate     53 non-null     object
 12  median_error        53 non-null     object
 13  mean_estimate       53 non-null     object
 14  mean_error          53 non-null     object
dtypes: object(15)
memory usage: 6.6+ KB

After cleaning the `year` column, we want to make sure the data is the **correct data type**. From observation, we can see that all the columns should be either int or float type because they either represent a percentage or a numeric value.

In [18]:
all_races[["year", "num (thousands)"]] = all_races[["year", "num (thousands)"]].astype(int)
all_races[all_races.columns[2:]] = all_races[all_races.columns[2:]].astype(float)

In [19]:
# Confirm changes
all_races.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 53 entries, 0 to 54
Data columns (total 15 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   year                53 non-null     int64
 1   num (thousands)     53 non-null     int64
 2   < $15,000           53 non-null     float64
 3   $15,000 - 24,999    53 non-null     float64
 4   $25,000 - 34,999    53 non-null     float64
 5   $35,000 - 49,999    53 non-null     float64
 6   $50,000 - 74,999    53 non-null     float64
 7   $75,000 - 99,999    53 non-null     float64
 8   $100,000 - 149,999  53 non-null     float64
 9   $150,000 - 199,999  53 non-null     float64
 10  > $200,000          53 non-null     float64
 11  median_estimate     53 non-null     float64
 12  median_error        53 non-null     float64
 13  mean_estimate       53 non-null     float64
 14  mean_error          53 non-null     float64
dtypes: float64(13), int64(2)
memory usage: 6.6 KB

Now `all_races` is nice and clean and ready for analysis.

## Cleaning the `White`, `Blacks`, `Asians`, and `Hispanics` sheets

As mentioned before, I personally moved the race categories that we'll be cleaning and analyzing into separate sheets, so I know the format for each sheet is the same. To clean these sheets, we'll **create a function** that makes the same modifications to each sheet.

Let's take a look at the format for one of the sheets.

In [20]:
white

,Race and Hispanic origin of householder\nand year,Number (thousands),Percent distribution,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Median income\n(dollars),Unnamed: 13,Mean income\n(dollars),Unnamed: 15
0,NaN,NaN,Total,"Under $15,000","$15,000\nto\n$24,999","$25,000\nto\n$34,999","$35,000\nto\n$49,999","$50,000\nto\n$74,999","$75,000\nto\n$99,999","$100,000\nto\n$149,999","$150,000\nto\n$199,999","$200,000 and over",Estimate,Margin of error1 (±),Estimate,Margin of error1 (±)
1,WHITE ALONE 24,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2019,100568.0,100,7.8,7.5,8,11.5,16.7,12.7,16.3,8.7,10.8,72204,800,101732,1192
3,2018,100528.0,100,8.5,8.3,8.4,11.8,17.3,13.1,15.7,7.6,9.3,68156,657,95650,1052
4,2017 2,100113.0,100,8.5,8.6,8.9,11.9,16.6,12.8,15.5,7.7,9.4,67617,878,95448,1101
5,2017,100065.0,100,8.6,8.7,8.9,11.7,16.5,12.9,15.7,8,9,68076,714,93480,1033
6,2016,99400.0,100,8.9,8.6,8.9,12.3,16.8,12.5,15.9,7.5,8.5,65901,585,91988,936
7,2015,99313.0,100,8.9,9.5,9.4,12.2,16.3,12.9,15.8,7.4,7.6,64864,676,88731,834
8,2014,98679.0,100,9.9,10.1,9.3,12.5,16.8,12.7,14.7,6.9,7.3,61470,631,85277,930
9,2013 3,98807.0,100,9.8,10,9.2,12.4,17,12.7,14.5,7.1,7.3,62378,935,85551,1371
10,2013 4,97774.0,100,9.7,9.9,9.5,12.9,17.3,13.2,14.3,6.7,6.4,60742,769,83368,984
11,2012,97705.0,100,9.6,10.2,10,12.5,17.6,12.6,14.6,6.7,6.3,59912,705,83015,851
12,2011,96964.0,100,9.8,9.6,10.1,13.1,17.6,12.4,14.5,6.6,6.2,59481,422,82946,791
13,2010 5,96306.0,100,9.4,10.4,9.2,13.2,17.1,12.8,15,6.6,6.3,60763,489,82741,783
14,2009 6,95489.0,100,8.9,9.6,9.5,13.1,17.8,12.9,15.2,6.7,6.4,61947,303,84263,534
15,2008,95297.0,100,9,9.7,9.1,13.2,17.2,13,15.8,6.6,6.4,62268,298,84740,537
16,2007,95112.0,100,8.4,9.6,8.9,12.6,17.5,13,16.1,7.1,6.9,64417,313,86932,545
17,2006,94705.0,100,8.1,9.1,9.2,12.9,17.7,13.2,15.8,7,7,64410,307,87842,602
18,2005,93588.0,100,8.6,9.3,9.3,12.7,17.7,13.4,15.4,6.9,6.6,63718,458,86562,589
19,2004 7,92880.0,100,8.8,9.4,9.6,12.6,17.6,13,15.8,6.7,6.5,63304,408,85352,578
20,2003,91962.0,100,8.7,9.3,9.5,12.5,17.5,13,16.1,6.7,6.6,63583,410,85816,566
21,2002,91645.0,100,8.6,9.4,8.9,13,17.5,13.1,16.5,6.6,6.3,64250,429,85740,574

From basic observation and similar to cleaning the `All_Races` sheet, we have to clean the following things:
1. Map the correct column names.
2. Drop the first 2 rows since it includes the column names and unnecessary.
3. Drop the `Percent Distribution` column.
4. Getting only the year in the `year` column.
5. Change the data types for each column.

In [21]:
def clean_data(df):
    
    df_copy = df.copy() # Avoids the SettingWithCopy Warning
    
    df_copy.rename(columns=columns, inplace=True) # Mapping the column names
    df_copy = df_copy.iloc[2:] # Excluding first 2 rows
    df_copy.drop("Percent distribution", axis=1, inplace=True) # Drop Percent Distribution column
    df_copy.reset_index(drop=True, inplace=True) 
    df_copy["year"] = df_copy["year"].astype(str).str.slice(stop=4) # Get only the year
    df_copy.drop([2,8], inplace=True)
    df_copy[["year", "num (thousands)"]] = df_copy[["year", "num (thousands)"]].astype(int) # Change to correct dtype
    df_copy[df_copy.columns[2:]] = df_copy[df_copy.columns[2:]].astype(float)
    
    return df_copy

columns = {'Race and Hispanic origin of householder\nand year': "year",
                 'Number (thousands)': "num (thousands)",
                 'Unnamed: 3': "< $15,000",
                 'Unnamed: 4': "$15,000 - 24,999", 
                 'Unnamed: 5': "$25,000 - 34,999", 
                 'Unnamed: 6': "$35,000 - 49,999", 
                 'Unnamed: 7': "$50,000 - 74,999", 
                 'Unnamed: 8': "$75,000 - 99,999",
                 'Unnamed: 9': "$100,000 - 149,999", 
                 'Unnamed: 10': "$150,000 - 199,999", 
                 'Unnamed: 11': "> $200,000", 
                 'Median income\n(dollars)': "median_estimate",
                 'Unnamed: 13': "median_error", 
                 'Mean income\n(dollars)': "mean_estimate", 
                 'Unnamed: 15': "mean_error"}

sheets = [white, black, asian, hispanic]
cleaned_sheets = []

for sheet in sheets:
    sheet = clean_data(sheet)
    cleaned_sheets.append(sheet)

cleaned_white = cleaned_sheets[0]
cleaned_black = cleaned_sheets[1]
cleaned_asian = cleaned_sheets[2]
cleaned_hispanic = cleaned_sheets[3]

In [22]:
# Confirm changes
cleaned_white

,year,num (thousands),"< $15,000","$15,000 - 24,999","$25,000 - 34,999","$35,000 - 49,999","$50,000 - 74,999","$75,000 - 99,999","$100,000 - 149,999","$150,000 - 199,999","> $200,000",median_estimate,median_error,mean_estimate,mean_error
0,2019,100568,7.8,7.5,8.0,11.5,16.7,12.7,16.3,8.7,10.8,72204.0,800.0,101732.0,1192.0
1,2018,100528,8.5,8.3,8.4,11.8,17.3,13.1,15.7,7.6,9.3,68156.0,657.0,95650.0,1052.0
3,2017,100065,8.6,8.7,8.9,11.7,16.5,12.9,15.7,8.0,9.0,68076.0,714.0,93480.0,1033.0
4,2016,99400,8.9,8.6,8.9,12.3,16.8,12.5,15.9,7.5,8.5,65901.0,585.0,91988.0,936.0
5,2015,99313,8.9,9.5,9.4,12.2,16.3,12.9,15.8,7.4,7.6,64864.0,676.0,88731.0,834.0
6,2014,98679,9.9,10.1,9.3,12.5,16.8,12.7,14.7,6.9,7.3,61470.0,631.0,85277.0,930.0
7,2013,98807,9.8,10.0,9.2,12.4,17.0,12.7,14.5,7.1,7.3,62378.0,935.0,85551.0,1371.0
9,2012,97705,9.6,10.2,10.0,12.5,17.6,12.6,14.6,6.7,6.3,59912.0,705.0,83015.0,851.0
10,2011,96964,9.8,9.6,10.1,13.1,17.6,12.4,14.5,6.6,6.2,59481.0,422.0,82946.0,791.0
11,2010,96306,9.4,10.4,9.2,13.2,17.1,12.8,15.0,6.6,6.3,60763.0,489.0,82741.0,783.0
12,2009,95489,8.9,9.6,9.5,13.1,17.8,12.9,15.2,6.7,6.4,61947.0,303.0,84263.0,534.0
13,2008,95297,9.0,9.7,9.1,13.2,17.2,13.0,15.8,6.6,6.4,62268.0,298.0,84740.0,537.0
14,2007,95112,8.4,9.6,8.9,12.6,17.5,13.0,16.1,7.1,6.9,64417.0,313.0,86932.0,545.0
15,2006,94705,8.1,9.1,9.2,12.9,17.7,13.2,15.8,7.0,7.0,64410.0,307.0,87842.0,602.0
16,2005,93588,8.6,9.3,9.3,12.7,17.7,13.4,15.4,6.9,6.6,63718.0,458.0,86562.0,589.0
17,2004,92880,8.8,9.4,9.6,12.6,17.6,13.0,15.8,6.7,6.5,63304.0,408.0,85352.0,578.0
18,2003,91962,8.7,9.3,9.5,12.5,17.5,13.0,16.1,6.7,6.6,63583.0,410.0,85816.0,566.0
19,2002,91645,8.6,9.4,8.9,13.0,17.5,13.1,16.5,6.6,6.3,64250.0,429.0,85740.0,574.0

In [23]:
print("=====WHITES ONLY=====")
print(cleaned_white.info())

=====WHITES ONLY=====
<class 'pandas.core.frame.DataFrame'>
Int64Index: 18 entries, 0 to 19
Data columns (total 15 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   year                18 non-null     int64
 1   num (thousands)     18 non-null     int64
 2   < $15,000           18 non-null     float64
 3   $15,000 - 24,999    18 non-null     float64
 4   $25,000 - 34,999    18 non-null     float64
 5   $35,000 - 49,999    18 non-null     float64
 6   $50,000 - 74,999    18 non-null     float64
 7   $75,000 - 99,999    18 non-null     float64
 8   $100,000 - 149,999  18 non-null     float64
 9   $150,000 - 199,999  18 non-null     float64
 10  > $200,000          18 non-null     float64
 11  median_estimate     18 non-null     float64
 12  median_error        18 non-null     float64
 13  mean_estimate       18 non-null     float64
 14  mean_error          18 non-null     float64
dtypes: float64(13), int64(2)
memory usage: 2.2 KB
None

In [24]:
cleaned_black

,year,num (thousands),"< $15,000","$15,000 - 24,999","$25,000 - 34,999","$35,000 - 49,999","$50,000 - 74,999","$75,000 - 99,999","$100,000 - 149,999","$150,000 - 199,999","> $200,000",median_estimate,median_error,mean_estimate,mean_error
0,2019,17054,17.2,11.5,11.4,13.7,16.8,9.8,10.8,4.2,4.6,45438.0,1212.0,66553.0,1882.0
1,2018,17167,19.1,12.6,11.3,13.9,16.3,9.7,9.6,4.2,3.3,42110.0,922.0,59728.0,1370.0
3,2017,16997,19.1,12.2,11.8,13.9,15.7,10.3,9.8,3.7,3.4,41987.0,990.0,61109.0,1415.0
4,2016,16733,19.6,12.4,11.4,13.6,16.7,9.7,9.7,3.8,3.1,42071.0,1264.0,61200.0,1633.0
5,2015,16539,20.3,13.6,11.7,13.0,15.6,10.0,9.3,3.6,2.8,39817.0,911.0,58652.0,1528.0
6,2014,16437,20.8,14.0,12.0,14.4,15.4,8.9,8.7,3.3,2.6,38264.0,820.0,55378.0,1229.0
7,2013,16009,20.9,13.5,12.0,14.6,16.1,7.7,9.2,3.5,2.4,38831.0,1550.0,55463.0,2143.0
9,2012,15872,21.7,14.3,11.7,13.3,16.5,8.9,8.6,3.0,2.1,37171.0,1450.0,53253.0,1382.0
10,2011,15583,22.6,14.0,11.7,13.5,15.5,9.0,8.4,3.2,2.1,36715.0,954.0,53832.0,1505.0
11,2010,15265,22.1,13.5,11.3,14.7,15.3,10.1,8.1,3.0,1.9,37749.0,965.0,52829.0,1210.0
12,2009,14730,19.7,13.6,11.8,14.8,16.2,9.8,9.1,2.9,2.0,38921.0,774.0,55001.0,1032.0
13,2008,14595,19.5,13.0,11.6,15.6,16.6,9.3,9.2,3.1,2.0,40731.0,864.0,55389.0,975.0
14,2007,14551,19.6,13.1,10.5,14.7,16.7,9.8,10.0,3.4,2.1,41922.0,966.0,57638.0,1057.0
15,2006,14354,19.1,12.9,11.5,14.9,16.8,9.6,9.7,3.3,2.3,40636.0,504.0,57361.0,1167.0
16,2005,14002,19.8,13.7,11.4,13.8,16.9,9.8,9.2,3.3,2.1,40495.0,650.0,55713.0,995.0
17,2004,13809,20.3,12.1,12.3,14.7,16.3,10.1,9.1,3.0,2.0,40832.0,699.0,55129.0,982.0
18,2003,13629,19.6,12.8,12.0,13.7,16.9,10.2,9.7,3.1,2.1,41308.0,885.0,55919.0,986.0
19,2002,13465,19.0,13.0,11.1,15.8,16.1,9.8,9.6,3.2,2.3,41364.0,917.0,57018.0,1083.0

In [25]:
print("=====BLACKS ONLY=====")
print(cleaned_black.info())

=====BLACKS ONLY=====
<class 'pandas.core.frame.DataFrame'>
Int64Index: 18 entries, 0 to 19
Data columns (total 15 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   year                18 non-null     int64
 1   num (thousands)     18 non-null     int64
 2   < $15,000           18 non-null     float64
 3   $15,000 - 24,999    18 non-null     float64
 4   $25,000 - 34,999    18 non-null     float64
 5   $35,000 - 49,999    18 non-null     float64
 6   $50,000 - 74,999    18 non-null     float64
 7   $75,000 - 99,999    18 non-null     float64
 8   $100,000 - 149,999  18 non-null     float64
 9   $150,000 - 199,999  18 non-null     float64
 10  > $200,000          18 non-null     float64
 11  median_estimate     18 non-null     float64
 12  median_error        18 non-null     float64
 13  mean_estimate       18 non-null     float64
 14  mean_error          18 non-null     float64
dtypes: float64(13), int64(2)
memory usage: 2.2 KB
None

In [26]:
cleaned_asian

,year,num (thousands),"< $15,000","$15,000 - 24,999","$25,000 - 34,999","$35,000 - 49,999","$50,000 - 74,999","$75,000 - 99,999","$100,000 - 149,999","$150,000 - 199,999","> $200,000",median_estimate,median_error,mean_estimate,mean_error
0,2019,6853,6.5,5.0,5.2,8.7,12.9,12.5,17.9,12.5,18.9,98174.0,3068.0,133111.0,4440.0
1,2018,6981,8.3,6.2,5.9,8.5,14.0,12.0,18.1,10.3,16.7,88774.0,2856.0,121987.0,3787.0
3,2017,6735,8.7,6.4,5.7,9.1,14.4,12.8,16.3,11.2,15.6,84823.0,2047.0,119004.0,4214.0
4,2016,6392,8.7,6.0,6.2,7.7,14.7,13.4,16.9,12.1,14.4,86754.0,2042.0,115051.0,3190.0
5,2015,6328,9.1,6.4,6.0,9.1,14.8,12.2,16.9,11.1,14.4,83270.0,3012.0,113756.0,3953.0
6,2014,6040,9.6,6.5,7.5,9.2,14.1,12.5,17.6,11.4,11.6,80312.0,3747.0,105461.0,3414.0
7,2013,5818,9.7,7.3,5.0,9.6,15.6,12.8,17.9,8.8,13.3,79568.0,6080.0,111256.0,8076.0
9,2012,5560,9.8,6.4,7.3,9.0,16.9,12.4,17.4,9.9,10.9,76567.0,3468.0,101962.0,3369.0
10,2011,5374,9.1,8.0,7.7,10.1,15.9,13.4,17.8,8.6,9.5,74194.0,2936.0,97564.0,3885.0
11,2010,5212,9.8,7.6,6.8,9.5,15.8,12.4,17.1,10.4,10.7,75510.0,3045.0,99394.0,3278.0
12,2009,4687,10.3,6.4,6.9,10.2,15.0,11.9,17.5,10.0,11.9,78201.0,2490.0,108472.0,3625.0
13,2008,4573,9.9,6.9,6.7,10.8,14.4,11.8,18.5,10.1,10.8,78129.0,2714.0,102588.0,2943.0
14,2007,4494,8.6,6.7,6.5,9.5,15.5,12.5,19.5,10.6,10.6,81706.0,2816.0,105086.0,3050.0
15,2006,4454,7.9,6.1,7.1,9.3,15.5,13.1,18.0,11.7,11.4,81653.0,3500.0,112229.0,3973.0
16,2005,4273,9.2,6.9,6.6,8.5,15.8,13.4,18.7,9.2,11.7,80174.0,1537.0,105110.0,3050.0
17,2004,4123,8.4,6.6,7.0,9.3,17.0,13.3,18.3,9.4,10.6,78019.0,2727.0,103815.0,3303.0
18,2003,4040,11.6,7.4,6.2,7.8,15.6,13.1,18.6,9.3,10.3,77612.0,2508.0,97501.0,2840.0
19,2002,3917,8.4,6.6,7.2,11.5,16.3,12.5,18.8,8.8,9.8,74995.0,2159.0,99821.0,3202.0

In [27]:
print("=====ASIANS ONLY=====")
print(cleaned_asian.info())

=====ASIANS ONLY=====
<class 'pandas.core.frame.DataFrame'>
Int64Index: 18 entries, 0 to 19
Data columns (total 15 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   year                18 non-null     int64
 1   num (thousands)     18 non-null     int64
 2   < $15,000           18 non-null     float64
 3   $15,000 - 24,999    18 non-null     float64
 4   $25,000 - 34,999    18 non-null     float64
 5   $35,000 - 49,999    18 non-null     float64
 6   $50,000 - 74,999    18 non-null     float64
 7   $75,000 - 99,999    18 non-null     float64
 8   $100,000 - 149,999  18 non-null     float64
 9   $150,000 - 199,999  18 non-null     float64
 10  > $200,000          18 non-null     float64
 11  median_estimate     18 non-null     float64
 12  median_error        18 non-null     float64
 13  mean_estimate       18 non-null     float64
 14  mean_error          18 non-null     float64
dtypes: float64(13), int64(2)
memory usage: 2.2 KB
None

In [28]:
cleaned_hispanic

,year,num (thousands),"< $15,000","$15,000 - 24,999","$25,000 - 34,999","$35,000 - 49,999","$50,000 - 74,999","$75,000 - 99,999","$100,000 - 149,999","$150,000 - 199,999","> $200,000",median_estimate,median_error,mean_estimate,mean_error
0,2019,17667,10.7,8.8,10.5,14.1,19.5,12.2,13.0,5.9,5.3,56113.0,1173.0,75058.0,1621.0
1,2018,17758,11.2,10.9,10.7,15.0,18.6,12.8,11.6,4.8,4.4,52382.0,748.0,72230.0,1648.0
3,2017,17318,11.6,10.3,11.4,14.3,18.5,12.5,12.2,4.9,4.3,52654.0,751.0,71252.0,1482.0
4,2016,16915,11.9,10.8,11.3,15.4,18.0,12.3,12.0,4.6,3.9,50791.0,1185.0,71182.0,1416.0
5,2015,16667,12.6,11.9,12.4,14.6,17.5,11.9,10.7,4.4,3.8,48719.0,1092.0,68644.0,1486.0
6,2014,16239,13.5,13.2,11.9,15.0,17.9,11.6,10.7,3.5,2.7,45931.0,918.0,62192.0,1166.0
7,2013,16088,13.7,13.4,13.2,16.1,16.2,9.9,9.7,4.0,3.6,43627.0,2148.0,63337.0,3078.0
9,2012,15589,15.1,13.0,13.2,14.8,18.2,10.2,9.7,3.4,2.5,43512.0,980.0,59595.0,1281.0
10,2011,14939,14.7,12.1,13.5,15.8,18.4,9.7,9.7,3.7,2.5,44000.0,1025.0,59639.0,1113.0
11,2010,14435,14.6,12.8,12.3,15.7,17.7,11.0,9.6,3.8,2.3,44220.0,1125.0,60393.0,1276.0
12,2009,13298,13.5,12.9,12.1,15.8,18.0,10.8,10.6,3.5,2.9,45437.0,986.0,62386.0,1126.0
13,2008,13425,13.8,13.0,11.1,17.6,17.5,10.3,10.6,3.7,2.5,45129.0,952.0,61387.0,1046.0
14,2007,13339,12.5,12.3,11.5,16.6,18.6,11.9,10.5,3.5,2.6,47809.0,1057.0,62826.0,1088.0
15,2006,12973,12.1,11.5,12.2,15.8,19.5,11.5,10.8,4.0,2.7,48023.0,1056.0,64286.0,1213.0
16,2005,12519,12.4,12.0,12.3,16.5,19.2,11.5,9.9,3.5,2.6,47200.0,771.0,61859.0,1023.0
17,2004,12178,12.7,12.0,13.2,15.7,19.5,10.5,10.4,3.4,2.6,46497.0,1071.0,62244.0,1252.0
18,2003,11693,12.3,12.0,13.3,16.0,18.7,11.2,10.5,3.2,2.8,45978.0,1052.0,61962.0,1128.0
19,2002,11339,12.0,11.8,11.9,17.3,18.4,11.8,10.7,3.4,2.7,47174.0,1130.0,63967.0,1407.0
20,2001,10499,11.4,12.6,11.5,16.0,19.4,11.6,11.2,3.6,2.7,48586.0,1014.0,64245.0,1336.0
21,2000,10034,11.3,11.9,11.6,15.9,20.0,12.3,11.1,3.3,2.7,49378.0,1171.0,65471.0,1550.0
22,1999,9579,11.5,13.4,11.3,16.9,18.9,11.2,11.1,3.1,2.5,47326.0,1132.0,62170.0,1815.0
23,1998,9060,14.2,13.7,11.9,16.2,18.1,11.3,9.3,3.2,2.2,44535.0,1412.0,60177.0,2105.0
24,1997,8590,15.7,13.9,12.2,16.1,18.5,10.2,8.6,2.7,2.1,42427.0,1245.0,57173.0,1898.0
25,1996,8225,15.7,15.1,13.1,15.9,17.6,10.1,8.3,2.4,1.8,40541.0,1293.0,55352.0,2107.0
26,1995,7939,17.4,14.6,14.1,15.4,17.1,9.9,7.7,2.2,1.4,38201.0,1369.0,52140.0,1924.0
27,1994,7735,17.7,14.4,12.4,15.8,17.6,9.4,8.5,2.3,1.8,40082.0,1225.0,54048.0,2218.0
28,1993,7362,16.3,14.8,13.6,16.2,18.2,9.2,8.5,1.9,1.4,39984.0,1322.0,52921.0,1831.0
29,1992,7153,16.6,14.0,13.4,16.1,18.4,10.2,7.8,2.4,1.1,40475.0,1376.0,51625.0,1335.0
30,1991,6379,16.0,13.8,12.8,16.0,18.7,10.6,8.3,2.2,1.5,41654.0,1425.0,53000.0,1395.0
31,1990,6220,15.5,15.0,11.8,15.8,19.5,10.6,8.1,2.1,1.5,42482.0,1433.0,53216.0,1443.0
32,1989,5933,15.7,12.4,12.0,16.0,18.6,11.7,9.4,2.6,1.6,43761.0,1396.0,55880.0,1580.0
33,1988,5910,16.5,12.4,13.4,15.0,18.8,11.8,8.1,2.3,1.6,42419.0,1769.0,54158.0,1889.0
34,1987,5642,16.7,14.0,12.6,15.9,17.4,11.2,8.3,2.3,1.5,41743.0,1492.0,53509.0,1630.0
35,1986,5418,16.4,14.3,13.0,15.4,18.5,10.7,8.7,2.2,0.9,40982.0,1756.0,51748.0,1400.0
36,1985,5213,17.0,15.7,12.1,15.8,18.8,10.1,8.1,1.6,0.8,39684.0,1525.0,49586.0,1327.0
37,1984,4883,17.8,14.3,12.3,15.3,19.8,10.7,7.3,1.8,0.8,39934.0,1647.0,49657.0,1593.0
38,1983,4326,18.4,14.8,12.7,16.4,19.0,9.5,7.2,1.4,0.5,38938.0,1623.0,47415.0,1498.0
39,1982,4085,17.2,15.2,13.3,16.6,18.8,9.9,6.9,1.1,0.9,38742.0,1684.0,47814.0,1596.0
40,1981,3980,15.3,13.8,13.4,17.1,20.3,10.5,7.6,1.3,0.7,41412.0,1866.0,49730.0,1563.0
41,1980,3906,15.9,14.0,13.4,17.0,19.6,11.2,6.6,1.4,0.7,40437.0,1803.0,49392.0,1618.0
42,1979,3684,14.4,12.9,13.2,16.8,21.4,10.9,7.8,1.6,0.9,42960.0,2037.0,51979.0,1718.0
43,1978,3291,13.9,13.3,12.9,18.6,20.7,12.0,6.7,1.4,0.6,42565.0,1697.0,50279.0,1673.0
44,1977,3304,13.7,14.8,14.1,18.2,20.8,10.6,6.0,1.4,0.4,41030.0,1185.0,48421.0,1230.0
45,1976,3081,16.2,15.3,13.6,18.1,20.0,10.3,5.1,1.1,0.3,39203.0,1375.0,46327.0,1240.0
46,1975,2948,16.4,14.7,15.0,17.5,21.5,8.9,4.7,0.8,0.5,38408.0,1397.0,45596.0,1333.0
47,1974,2897,13.0,15.4,13.8,18.0,22.1,10.4,5.7,1.1,0.5,41757.0,1504.0,48373.0,1296.0
48,1973,2722,12.2,14.2,14.0,18.8,22.3,11.4,5.8,0.9,0.4,42003.0,1570.0,48801.0,1307.0
49,1972,2655,11.9,16.0,13.5,20.6,22.1,9.5,4.8,0.9,0.6,42073.0,1352.0,48359.0,1352.0

In [29]:
print("=====HISPANICS ONLY (ALL RACES)=====")
print(cleaned_hispanic.info())

=====HISPANICS ONLY (ALL RACES)=====
<class 'pandas.core.frame.DataFrame'>
Int64Index: 48 entries, 0 to 49
Data columns (total 15 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   year                48 non-null     int64
 1   num (thousands)     48 non-null     int64
 2   < $15,000           48 non-null     float64
 3   $15,000 - 24,999    48 non-null     float64
 4   $25,000 - 34,999    48 non-null     float64
 5   $35,000 - 49,999    48 non-null     float64
 6   $50,000 - 74,999    48 non-null     float64
 7   $75,000 - 99,999    48 non-null     float64
 8   $100,000 - 149,999  48 non-null     float64
 9   $150,000 - 199,999  48 non-null     float64
 10  > $200,000          48 non-null     float64
 11  median_estimate     48 non-null     float64
 12  median_error        48 non-null     float64
 13  mean_estimate       48 non-null     float64
 14  mean_error          48 non-null     float64
dtypes: float64(13), int64(2)
memory usage: 6.0 KB
None

## Export to 1 Excel file

In [30]:
with pd.ExcelWriter('cleaned_data.xlsx') as writer:  
    all_races.to_excel(writer, sheet_name='all_races') # Sheet 1
    cleaned_white.to_excel(writer, sheet_name='white') # Sheet 2
    cleaned_black.to_excel(writer, sheet_name='black') # Sheet 3
    cleaned_asian.to_excel(writer, sheet_name='asian') # Sheet 4
    cleaned_hispanic.to_excel(writer, sheet_name='hispanic') # Sheet 5